<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- Page Widget -->
      <div class="widget widget-shadow text-center">
        <div class="widget-header">
          <div class="widget-header-content">
            <a class="avatar avatar-lg" href="javascript:void(0)">
              <img src="/global/portraits/client.png" id="profile-photo" alt="...">
            </a>
            <h4 class="profile-user"></h4>
          </div>
        </div>

      </div>
      <!-- End Page Widget -->
    </div>
    <div class="col-md-9" id="main">

<div class="panel">
  <div class="panel-body nav-tabs-animate">
    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">

      <li class="active" role="presentation"><a data-toggle="tab" href="#profile" aria-controls="profile" role="tab">Profile</a></li>
    </ul>
    <div class="tab-content">

      <div class="active tab-pane animation-slide-left" id="profile" role="tabpanel">
        <div class="example">
          <p class=" col-md-6">first name :</p><input id="firstname" class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-6">surname :</p><input id="surname" class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-6">age :</p><input id="age" class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-6">email :</p><input id="email" class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-6">sex :</p><select id="sex" class=" col-md-6">
            <option>man</option>
            <option>woman</option>
            <option>transexual</option>
          </select>
        </div>
        <div class="example">
          <p class=" col-md-6">sexuality :</p><select id="sexuality" class=" col-md-6">
            <option>Gay</option>
            <option>Open-minded</option>
            <option>Straight</option>
            <option>Bisexual</option>
          </select>
        </div>
        <div class="example">
          <p class=" col-md-6">current location :</p><input id="pac-input" class=" col-md-6">

        </input>
        </div>
        <div class="example">
          <p class=" col-md-12">bio :</p><div class="col-md-12">
            <textarea class="form-control" id="bio" placeholder="Briefly Describe Yourself"></textarea>
          </div>
        </div>
        <div class="example">
          <p class=" col-md-12">Indiquez vos centres d'interet :</p>
          <!-- <select class=" col-md-12" data-plugin="tagsinput" multiple>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Washington">Washington</option>
            <option value="Sydney">Sydney</option>
            <option value="Beijing">Beijing</option>
            <option value="Cairo">Cairo</option>
          </select> -->
          <div class="example">
            <input type="text" class="form-control" id="tokenfield" value="" />

                </div>
        </div>  <button type="button" class="btn btn-dark">
          <!-- <i class="icon wb-upload" aria-hidden="true"></i> -->
        <input type="file"  onchange="previewFile()" accept="image/png" multiple> Upload photos</input></button>
        <div>
          <img id="oki1"  onclick="deletephoto('oki1')" class="profile-uploaded" src="" height="200" style="padding-top:0.1cm;">
          <img id="oki2"  onclick="deletephoto('oki2')" class="profile-uploaded" src="" height="200" style="padding-top:0.1cm;">
          <img id="oki3"  onclick="deletephoto('oki3')" class="profile-uploaded" src="" height="200" style="padding-top:0.1cm;">
          <img id="oki4"  onclick="deletephoto('oki4')" class="profile-uploaded" src="" height="200" style="padding-top:0.1cm;">
          <img id="oki5"  onclick="deletephoto('oki5')" class="profile-uploaded" src="" height="200" style="padding-top:0.1cm;">
        </div>
        <div class="form-group" style="padding-top:1.5cm;">
          <button type="button" id="submit" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
</div>

</div>
<script>









avion();
</script>
<!-- <script src="./profile/js/profile.js"></script> -->

<!-- <script>
function previewFile() {

  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
//    preview1.src = reader.result;
    var i = 1;
    while(i < 6)
    {
      //console.log(document.querySelector('#oki'+i).src);
      if (document.querySelector('#oki'+i).src == "http://localhost:8080/global/photos/placeholder.png")
      {
        //console.log("oulala");
        document.querySelector('#oki'+i).src = reader.result;
        i = 5;
      }
      i++;
    }
  //  preview1.src = reader.result;
    //  $.post('/ya', {'image' : preview.src});
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}
  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  function initMap() {


    var input = document.getElementById('pac-input');


    var autocomplete = new google.maps.places.Autocomplete(input);

  }
  initMap();
</script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhMUSGep2jtfHo_jnMhViVj3BDnvwIQEg&signed_in=true&libraries=places&callback=initMap"
    async defer></script> -->
