<!-- <div class="col-lg-3 col-md-6">
<div class="widget widget-shadow">
<div class="widget-header bg-green-600 padding-30 white">
<a class="avatar avatar-100 img-bordered bg-white pull-left margin-right-20" href="javascript:void(0)">
<img src="../../../global/portraits/11.jpg" alt="">
</a>
<div class="vertical-align height-100 text-truncate">
<div class="vertical-align-middle">
<div class="font-size-20 margin-bottom-5 text-truncate">Gwendolyn Wheeler</div>
<div class="font-size-14 text-truncate">Adminnistrator</div>
</div>
</div>
</div>
</div>
</div> -->
<script>
$("#chat").remove();
function ImageExist(url)
{
  var img = new Image();
  img.src = url;
  return img.height != 0;
}

$.ajax({
  url : '/message/all_profil',
  type : 'GET',
  // dataType : 'html',
  success : function(code_html, statut){
    $.ajax({
      url : '/message/all_conversation',
      type : 'GET',
      // dataType : 'html',
      success : function(code_html1, statut){
        //console.log("toktok");
        //console.log(code_html);
        //console.log(code_html.mine);
        var k = 0;
        for(var j= 0; j < code_html.length - 1; j++)
        {
          if(code_html[j].email == code_html[code_html.length - 1].mine)
          {
            k = j;
          }
        }
        for(var i= 0; i < code_html.length - 1; i++)
        {
          //console.log(code_html[i].email);
          //console.log('DETER');
          //console.log(code_html[code_html.length - 1]);
          //console.log('DETER2');
          var tab = code_html[i].like;
          //console.log('DETER3');
            //console.log("tibet");
            //console.log(code_html[i]);
            //console.log(tab);
            //console.log(tab.indexOf(code_html[code_html.length - 1]));
            //console.log(code_html[code_html.length - 1]);
            //console.log("tintin");
            //console.log(code_html1);
            var flag10 = 0;
            //console.log("demonstration");
            if(code_html[i].email < code_html[code_html.length - 1])
            {
              var key3 = code_html[code_html.length - 1]+"-"+code_html[i].email;
            }
            else {
              var key3 = code_html[i].email+"-"+code_html[code_html.length - 1];
            }
            //console.log(key3);
            //console.log(code_html1);
            //console.log(code_html1[0].dialogue);
            for(var j= 0; j < code_html1.length ; j++)
            {
              //console.log("leroilion");
              //console.log(key3);
              //console.log(j);
              //console.log(code_html1.length);
              //console.log(code_html1[j].key);
              if(code_html1[j].key.indexOf(key3) >= 0 && code_html[i].email != code_html[code_html.length - 1] && flag10 == 0 && code_html[k].block.indexOf(code_html[i].email) == -1)
              {
                  $('#main').append('<div class="col-lg-3 col-md-6"><div class="widget widget-shadow"><div class="widget-header bg-green-600 padding-30 white"><a class="avatar avatar-100" onclick="mini_profil(`'+code_html[i].email+'`);" img-bordered bg-white pull-left margin-right-20" href="javascript:void(0)"><img style="width : 40px; height : 40px;" alt="" src= "/'+code_html[i].email+'/photo1.png"></a><div class="vertical-align height-100 text-truncate"><div class="vertical-align-middle"><div class="font-size-20 margin-bottom-5 text-truncate">'+code_html[i].firstname+' '+code_html[i].surname+'</div><div class="font-size-20 margin-bottom-5 text-truncate">Age : '+code_html[i].age+'</div><div class="font-size-20 margin-bottom-5 text-truncate">popularity : '+code_html[i].popularity+'</div></div></div></div></div></div>');
                  flag10 = 1
              }
            }
            // if(tab.indexOf(code_html[code_html.length - 1].mine) >= 0)
            // {
            //   $('#main').append('<div class="col-lg-3 col-md-6"><div class="widget widget-shadow"><div class="widget-header bg-green-600 padding-30 white"><a class="avatar avatar-100" onclick="mini_profil(`'+code_html[i].email+'`);" img-bordered bg-white pull-left margin-right-20" href="javascript:void(0)"><img style="width : 40px; height : 40px;" alt="" src= "/'+code_html[i].email+'/photo1.png"></a><div class="vertical-align height-100 text-truncate"><div class="vertical-align-middle"><div class="font-size-20 margin-bottom-5 text-truncate">'+code_html[i].firstname+' '+code_html[i].surname+'</div><div class="font-size-20 margin-bottom-5 text-truncate">Age : '+code_html[i].age+'</div><div class="font-size-20 margin-bottom-5 text-truncate">popularity : '+code_html[i].popularity+'</div></div></div></div></div></div>');
            // }
        }
      }
    })
  },
  error : function(resultat, statut, erreur){
    //console.log("pierromoutarde");
  },
});

function like(email){

  $.ajax({
    url : '/discover/like_someone',
    type : 'GET',
    data : {'email' : email},
    success : function(code_html, statut){
      //console.log("toktok");
      //console.log(code_html);
    }
  })

}
// $("#site-navbar-collapse").click(function(){
//   alert();
// });




</script>
<!-- <script src="/likedyou/js/likedyou.js"></script> -->
